img {
    height:10rem;
    width:15rem;
}

.project__container {
    display: flex;
    justify-content: space-evenly;
    margin-top: 2rem;
}

.projectTitle{
    position: absolute;
    margin-left: 6%;
}
.project__title {
    background: black;
    width: 100%;
    display: flex;
    justify-content: center;
    border-top: 2px solid skyblue;
    border-bottom: 2px solid skyblue;
    margin-top: -27px;
}






.projects {
    background: var(--color-borders);
    border: 2px solid var(--color-bg-alt);
    width: fit-content;
    padding: 2.5rem;
    border-radius: 2.5rem;
    
}



