
label {
    background-color: gold;
    color: black;
    font-weight: bold;
    margin-bottom: 2%;
    padding: 5px;
    border-radius: 15px;
    border: white solid 2px;
}

#about {
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.about{
    display: flex;
    flex-direction: column;
    align-items: center;
    
   

}

.about__container {
    display: flex;
    flex-direction: column ;
    align-items: center;
    width:50%;
    margin-top: 5%;
  }

.veteran {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2.5rem;

}

.lets-talk {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.awards {
    display: flex;
    justify-content: space-evenly;
    margin-top: 5%;
    width: fit-content;
}