nav {
    background: rgba(25, 24, 125, 0.238);
    width: max-content;
    display: block;
    position: fixed;
    left:50%;
    transform: translate(-50%);
    bottom: 2rem;
    border-radius: 15rem;
    backdrop-filter: blur(15px);
    font-size: 1rem;
}

nav a {
    background:transparent;
    padding: 1rem;
    border-radius: 50%;
    display: inline-flex;
    font-size: .8rem;
}

nav a:hover {
    background-color: rgba(26, 24, 125, 0.414);
}

nav a.active {
    background-color:  rgba(26, 24, 125, 0.414);
    color: var(--color-white);
}